

.otp-card-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.otp-content-wrap {
  background-image: url('background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  flex: 1;
}

.otp-login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.otp-form-page {
  background: linear-gradient(to right, #b4b0af, #e9e3de);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  transition: transform 0.3s ease-in-out;
}

.otp-form-page:hover {
  transform: scale(1.05);
}

.otp-heading {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-size: 24px;
}

.otp-instructions {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}

.otp-labels {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  color: #555;
}

.otp-form-page input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #cccbcb;
  border-radius: 10px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease-in-out;
}

.otp-form-page input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

.submit {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 10px;
  color: #fff;
  background-color: #0b64c4;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.submit:hover {
  background-color: #036bda;
  transform: scale(1.05);
}

.btn {
  display: flex;
  justify-content: center;
}