.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.loginform{
    background-color: #ccc;
    padding: 20px;
    width: 400px;
    height: 75vh;
    text-align: center;
    border-radius: 20px;

}
.loginform input[type="text"], input[type="pw"]{
    width: calc(100%-22px);
    padding:5px 60px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #6e6c6c96;
    border-radius: 10px;
    display: 'block';
}
.formpage{
    background-color: rgba(167, 166, 165, 0.719);
    align-items: center;
    display: flex;
    width: 350px;
    height: 65vh;
    flex-direction: column;
    padding-left: 30px;
    border-radius: 20px;
  
}
.h1{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    padding:0px;
}
.p1{
    color:black;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.labels{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: left;
    padding: 20px;
}
.btn{
    padding-top: 3px;
}
.submit{
    padding:5px 20px;
    font-size:15px;
    border-radius: 10px;
    background-color:rgb(5, 30, 173);
    cursor:pointer;
    margin-bottom:20px;
}
.submit:hover{
    background-color: darkblue;
}

