
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.loginform{
    background-color: #ccc;
    padding: 20px;
    width: 400px;
    height: 45vh;
    text-align: center;
    border-radius: 20px;

}.p1{
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.label{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: left;
    padding: 20px;
}
.search{
    padding:10px 10px;
    font-size:10px;
    border-radius: 10px;
    color:rgb(8, 7, 7);
    background-color:rgb(5, 41, 247);
    cursor:pointer;
}
.search:hover{
    background-color: darkblue;
}
