.header {
    padding: 10px;
    margin: 0px;
    background-color: rgb(247, 44, 44);
    position: fixed;
    top: 0;
    width: 100%;
}

.headerlogo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.headerlogo img {
    width: 100%; /* Make the image take up the full width of the container */
    height: auto; /* Maintain aspect ratio */
}
