.header {
    height: 60px;
    margin: 0px;
    background-color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
  }
  
  .headerlogo {
    width: 100px;
    height: auto;
  }
  
  .headerlogo img {
    width: 100%;
    height: auto;
  }
  
  .header .topic {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
  }
  
  .topic h2 {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman';
  }
  