.header {
    padding: 20px;
    margin: 0px;
    background-color: rgb(247, 44, 44);
    position: fixed;
    top: 0;
    width: 100%;
}

.headerlogo {
    width: 100px;
    height: auto;
}

.headerlogo img {
    width: 100%; 
    height: auto; 
}
